@page "/gestion_proveedores"
@layout PjrProject.Components.Layout.MainLayout
@rendermode InteractiveServer

@using PjrProject.Models.modelos_mantenimiento

<H2Pro Centrado="true" Texto="Tipos mantenimiento" />

<Layout_container>

    <!-- ================= FORM ================= -->
    <section class="form-section">

        <FormContainer>

            <!-- Texto -->
            <InputFlotante Label="Descripcion"
                           Tipo="text"
                           @bind-Valor="nuevaDescripcion" />

            <!-- Número -->
            <InputFlotante Label="Responsable"
                           Tipo="text"
                           Min="0"
                           @bind-Valor="nuevoResponsable" />

            @* <InputFechaPersonalizado Label="Fecha"
                                     @bind-Valor="nuevaFecha" /> *@

            <input type="date" @bind="nuevaFecha" />

            <BotonPro Texto="Agregar Tipo"
                      OnClick="AgregarOrden" />

        </FormContainer>

    </section>

    <!-- ================= TABLE ================= -->
    <section class="table-section">

        <TablaPro>
            <Header>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha</th>
            </tr>
            </Header>

            <Body>
                @foreach (var tipo in ordenes)
                {
                <tr>
                    <td>@tipo.Id</td>
                    <td>@tipo.Descripcion</td>
                    <td>@tipo.Responsable</td>
                    <td>@tipo.Fecha</td>
                </tr>
            }
            </Body>
        </TablaPro>

    </section>

</Layout_container>

<MensajePro Texto="@mensaje" />


@code {
    private string nuevaDescripcion = "";
    private string nuevoResponsable = "";
    private DateTime? nuevaFecha;
    private string mensaje = "";

    private List<Orden> ordenes = new()
    {
        new Orden { Id = 1, Descripcion = "Cambio de aceite", Responsable = "Carlos",Fecha = "2026-02-18" },
        new Orden { Id = 2, Descripcion = "Revisión eléctrica", Responsable = "Ana" ,Fecha = "2026-01-18"  }
    };

    private void AgregarOrden()
    {
        if (string.IsNullOrWhiteSpace(nuevaDescripcion))
        {
            mensaje = "Descripcion vacía";
            return;
        }

        if (string.IsNullOrWhiteSpace(nuevoResponsable))
        {
            mensaje = "Responsable vacío";
            return;
        }

        if (nuevaFecha == null)
        {
            mensaje = "Fecha null";
            return;
        }

        ordenes.Add(new Orden
        {
            Id = ordenes.Count + 1,
            Descripcion = nuevaDescripcion,
            Responsable = nuevoResponsable,
            Fecha = nuevaFecha.Value.ToString("yyyy-MM-dd")
        });

        mensaje = "Orden agregada correctamente.";

        nuevaDescripcion = "";
        nuevoResponsable = "";
        nuevaFecha = null;

    }
}